.btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 250px;
    height: 60px;
    margin: 0 auto;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    background-color: #d63030;
}

@media screen and (max-width: 720px) {
    .btn1 {
        width: 50vw;
        height: 12vw;
        font-size: 1.6rem;
    }
}
