html[lang="ja"] {
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    word-break: normal
}

*,
:after,
:before {
    background-repeat: no-repeat;
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

:after,
:before {
    text-decoration: inherit;
    vertical-align: inherit
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

nav ul {
    text-align: center;
    padding: 0 20px 0 0;
    position: relative;
    list-style: none;
    display: block;
    justify-content: center;
    z-index: 2;
}

.nav-li ul li a {
    padding: 0 20px;
    position: relative;
    display: block;
    text-decoration: none;
    color: #333;
    padding: 20px 20px;
    transition: all .3s;
}

.logo a {
    display: block;
}

ul {
    list-style: none;
}

body {
    min-width: 320px;
    color: #000;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #333;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

img {
    border-style: none;
    pointer-events: none;
    vertical-align: bottom;
    height: auto;
    max-width: 100%;
}

code {
    font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
    /* font-size: 14px;
    line-height: 16px; */
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-indent: 0;
    white-space: pre-wrap;
    background: #2f3136;
    border: 1px solid #202225;

    display: block;
    overflow-x: auto;
    padding: 0.5em;
    border-radius: 4px;
    color: #b9bbbe;
}

.warapper {
    background-color: #f2efe8;
    background-position: top center;
    background-size: 100% auto;
}


.flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.new-line {
    display: none!important;
}

.new-line-min {
    display: none!important;
}

.inline-block {
    display: inline-block;
}

@media screen and (max-width: 720px) {
    .new-line {
        display: inline!important;
    }
}

@media screen and (max-width: 500px) {
    .new-line-min {
        display: inline!important;
    }
}


body.appear .container {
    animation-name: PageAnimeAppear;
    animation-duration: 1s;
    animation-delay: 0.2s;
    transition: .3s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

@media screen and (max-width: 920px){
    body {
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        -webkit-overflow-scrolling: touch;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.header {
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    position: fixed;
    height: 100px;
    background-color: rgb(50, 79, 129, .8);
    mix-blend-mode: difference;
}

.header .container {
    padding: 0;
}

@media screen and (max-width: 720px) {
    .header {
        height: 10vw;
    }
    
}

.logo {
    position: relative;
    top: 10px;
    left: 30px;
    width: 400px;
    z-index: 1;
}

@media screen and (max-width: 720px) {
    .logo {
        width: 40vw;
        top: 5px;
        left: 10px;
    }
}


.container {
    padding: 30px 60px;
    align-items: center;
    height: 100%;
}

@media screen and (max-width: 920px) {
    .container {
        padding: 20px 30px;
    }
}

.nav-wrapper {
    margin-left: auto;
}

nav ul li a {
    padding: 0 20px;
}

.nav-2 {
    display: none;
}

.nav-3 {
    display: none;
}

@media screen and (max-width: 720px) {
    .nav-1 {
        display: none;
    }

    .nav-2 {
        display: block;
    }

    nav ul {
        padding: 0;
    }

    nav ul li a {
        padding: 0 10px;
    }    
}

@media screen and (max-width: 520px) {
    .nav-2 {
        display: none;
    }

    .nav-3 {
        display: block;
    }
}


nav ul > li:nth-of-type(6) {
    line-height: 1;
    font-size: 1.7rem;
    text-align: center;
}

.riddle-title {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    max-width: 1440px;
    width: calc(100% - 80px);
}

@media screen and (max-width: 920px) {
    .riddle-title {
        width: 80vw;
    }
    
}

.riddle-title {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.riddle-title img {
    width: 100%;
    height: auto;
    max-width: 720px;
    background-image: url(../images/riddle/3rd_title.png);
    background-size: 100% auto;
    transform: translate3d(0,0,0);
}

.introduction {
    position: relative;
}

.introduction p {
    margin-top: 50px;
    font-size: 26px;
    font-weight: 500;
    line-height: 2.25;
    text-align: center;
}

.introduction p a {
    padding: 2px 6px 5px;
    margin: 0 0.1em 0 0.2em;
    text-decoration: underline;
    font-weight: bold;
    display: inline-block;
    transition: .3s;
    color: #337ab7;
}

.introduction p a:hover {
    font-weight: bold;
    color: #fff !important;
    background-color: #337ab7;
}

@media screen and (max-width: 720px) {
    .introduction p {
        font-size: 4.8vw;
        line-height: 2;
    }
}

.content {
    align-items: center;
    justify-content: center;
    display: flex;
}

.discord {
    display: block;
    position: relative;
    overflow: hidden;
}

.heading {
    margin-bottom: 50px;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    position: relative;
}

@media screen and (max-width: 720px) {
    .heading {
        font-size: 6vw;
    }
}

.heading:after {
    content: "";
    margin-top: 8px;
    display: block;
    width: 100px;
    height: 4px;
    background: #314e7f;
    position: absolute;
    left: calc(50% - 50px);
}


.discord img {
    width: 520px;
    height: 520px;
    border-radius: 50%;
    display: inline-block;
    padding: 10px 20px;
    transition: .2s ease-out;
}

.discord:hover img {
    border-radius: 20%;
}

@media screen and (max-width: 720px) {
    .discord img {
        width: 75vw;
        height: auto;
    }

    .discord:hover img {
        border-radius: 20vw;
    }
}

.details {
    padding-top: 20px;
    margin: 0 auto;
    width: calc(100% - 80px);
    max-width: 920px;
    position: relative;
    text-align: right;
}

.details a {
    position: relative;
    display: inline-block;
    padding-right: 72px;
    text-decoration: none;
    outline: none;
    color: #333;
    font-size: 26px;
    font-weight: 500;
}

@media screen and (max-width: 920px) {
    .details a {
        font-size: 4vw;
        padding-right: 40px;
    }
}

.details a:before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 15%;
    width: 85%;
    height: 1px;
    background: #333;
    transition: all .3s;
}

.details a:after {
    content: "";
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 15px;
    height: 1px;
    background: #333;
    transform: rotate(35deg);
    transition: all .3s;
}

.details a:hover:before {
    left: 20%;
}

.details a:hover:after {
    right: -5%;
}

.question {
    padding-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
    text-decoration: underline;
}

@media screen and (max-width: 720px) {
    .question {
        font-size: 5.8vw;
    }
}

.answer {
    padding-bottom: 10px;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.5;
}

.answer a {
    padding: 2px 6px 5px;
    margin: 0 0.1em 0 0.2em;
    text-decoration: underline;
    font-weight: bold;
    display: inline-block;
    transition: .3s;
    color: #337ab7;
}


.answer a:hover {
    font-weight: bold;
    color: #fff !important;
    background-color: #337ab7;
}

@media screen and (max-width: 720px) {
    .answer {
        font-size: 4.8vw;
    }
}

.share {
    align-items: center;
    justify-content: center;
    display: flex;
}

.share p {
    margin-right: 3vw;
    font-size: 20px;
}

@media screen and (max-width: 720px) {
    .share p {
        font-size: 3vw;
    }
}

.share ul li {
    margin: 0 20px;
}

.share ul li a {
    display: block;
    position: relative;
    overflow: hidden;
}

.share ul li a img {
    width: 50px;
}

@media screen and (max-width: 720px) {
    .share ul li a img {
        width: 7vw;
    }
}

.category>li {
    padding: 20px;
    border-top: solid 1px #333;
}

@media screen and (max-width: 720px) {
    .category>li {
        padding: 10px;
    }
}

.category li:last-child {
    border-bottom: solid 1px #333;
}

.category li a h3 {
    margin: 10px;
    font-size: 20px;
}

@media screen and (max-width: 920px) {
    .category li a h3 {
        font-size: 4vw;
    }
}

.summary {
    margin: 10px;
}

.summary p {
    margin: 10px;
    font-size: 35px;
    font-weight: 500;
}

.summary p a {
    padding: 2px 6px 5px;
    margin: 0 0.1em 0 0.2em;
    text-decoration: underline;
    font-weight: bold;
    display: inline-block;
    transition: .3s;
    color: #337ab7;
}

.summary p a:hover {
    font-weight: bold;
    color: #fff !important;
    background-color: #337ab7;
}

@media screen and (max-width: 720px) {
    .summary p {
        font-size: 4.8vw;
    }
}

.fadeDown {
    animation-name: fadeDownAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.footer {
    margin-top: 50px;
    background-color: #314e7f;
    color: #fff;
}

.footer .container {
    padding-bottom: 30px;
    mix-blend-mode: difference;
}

.f-logo {
    margin: 50px auto 0;
    fill: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    width: 720px;
}

@media screen and (max-width: 920px) {
    .f-logo {
        width: 60vw;
    }
}

.footer-link li a {
    position: relative;
    padding: 10px 15px;
    display: inline-block;
}

.marker {
    padding: 2px 6px 5px;
    margin: 0 0.1em 0 0.2em;
    width: fit-content;
    background: #000;
    color: #fff;
    line-height: 1;
}

/* .summary .marker {
    font-size: 1rem;
} */

.copyright {
    padding-top: 30px;
}

.copyright p {
    text-align: center;
    font-size: 10px;
    font-weight: 600;
}